*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#App{
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
.header{
    height: 10vh;
    background: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
.wrapper{
    margin: 10vh auto;
}
